:root{
    --text-color:#002b5b;
    --main-color:#f9f5eb;
    --sub-color: #e4dccf;
    --decor-color:#ea5455;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--main-color);
}