:root{
    --text-color:#002b5b;
    --main-color:#f9f5eb;
    --sub-color: #e4dccf;
    --decor-color:#ea5455;
}
*{margin: 0; padding: 0;}

.navbar{
    display: inline-block;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 10px 16px;
    margin-bottom: 16px;
}

.navbar-menu{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    align-items: center;

}
.navbar-menu li{
    display: inline-block;

}
.navbar-menu-item a{
    text-decoration: none;
    color:var(--text-color);
    font-weight: 600;
    display: block;
}

.navbar-menu-item a:hover{
    opacity: 0.8;
}