@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
  --text-color:#002b5b;
  --main-color:#f9f5eb;
  --sub-color: #e4dccf;
  --decor-color:#ea5455;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 'regular 400';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--main-color) ;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
